# This application was already running in the environment.
# requirements.txt was generated using: pip freeze > requirements.txt

blinker==1.9.0
boto3==1.43.6
botocore==1.43.6
click==8.3.3
Flask==3.1.3
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
mysql-connector-python==9.7.0
packaging==26.2
python-dateutil==2.9.0.post0
s3transfer==0.17.0
six==1.17.0
urllib3==2.7.0
